html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.top_nav {
    position: fixed;
    top: 0;
    width: 100%;

    font-family: 'Lato', sans-serif;
    color: white;
    padding: 20px 0 20px 0px;
    background-color: black;
}

.nav_icon {
    margin-left: 20px;
}

.nav_items {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav_item {
    margin: 10px;
}

.full_height {
    height: 100% !important;
}

.parallax-window {
    position: relative;
    height: 75%;

    /*background:rgba(0, 0, 0, 0.5);*/

    font-family: 'Lato', sans-serif;
    color: white;
}

.dark-back {
    background:rgba(0, 0, 0, 0.5);
}

#title_banner {
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 10px 0 10px 0;

    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
}

#scroll_down_text {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-size: 16px;
    color: white;
}

#scroll_down {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #FFF;

}

.text_container {
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.section_title {
    margin-top: 30px;
    font-size: 36px;
    letter-spacing: 4px;

    width: 800px;
}

.text_content {
    margin: 30px;
}

.column_left {
    float: left;
    width: 45%;
}

.column_right {
    float: right;
    width: 45%;
}

.row {
    margin-bottom: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.hours {
    font-size: 24px;
}
